.popup-content{
    text-align: center;
    max-width: 333px;
    border-radius: 5%;
    background-color: #fff8dc;
}
img{
    border-radius: 50%;
}
.title-name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 900;
}
.infomation{
    margin-top: 15px;
}
.container{
    text-align: center;
}
.container button{
border-radius: 50%;
padding: 10px;
margin: 30px;
background-color: green;
color: yellow;
font-weight: 600;
}